@font-face {
  font-family: "iconfont light";
  src: url("../fonts/light.ttf") format("truetype");
}

@font-face {
  font-family: "iconfont bold";
  src: url("../fonts/bold.ttf") format("truetype");
}


.iconfont-light {
  font-family: "iconfont light" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-bold {
  font-family: "iconfont bold" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}