@font-face {
  font-family: "iconfont light";
  src: url("../fonts/light.ttf") format("truetype");
}

@font-face {
  font-family: "iconfont bold";
  src: url("../fonts/bold.ttf") format("truetype");
}

@font-face {
  font-family: "iconfont menu";
  src: url("../fonts/menu.ttf") format("truetype");
}


@font-face {
  font-family: "iconfont"; /* Project id 3412020 */
  src: url('../fonts//iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont-light {
  font-family: "iconfont light" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-bold {
  font-family: "iconfont bold" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-menu {
  font-family: "iconfont menu" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhaoming:before {
  content: "\e69d";
}

.icon-shezhi:before {
  content: "\e654";
}

.icon-xudianchi:before {
  content: "\e60b";
}

.icon-jiguihang:before {
  content: "\e658";
}

.icon-kongtiao:before {
  content: "\e7ca";
}

